.requisitions-table {
  width: 100%;
}

.requisitions-table caption {
  font-size: 34px;
}

.requisitions-table-close-btn {
  text-transform: uppercase;
}

.requisitions-table-close-btn:hover {
  background-color: rgba(255, 0, 0, 0.5);
  cursor: pointer;
}

.requisitions-table-width-100 {
  width: 100px;
}

.requisitions-table-width-50 {
  width: 50px;
}
