.header {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 10px 30px;
}

.header-nav {
  display: flex;
}

.header-nav--item + .header-nav--item {
  margin-left: 20px;
}
